@import 'tailwindcss';

@source "../../**/*.{js,ts,jsx,tsx,mdx}";

/* Thiết lập Dark Mode cho Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

/* CSS Tùy chỉnh căn bản (nếu cần) */
:root {
  --font-mono: 'Roboto Mono', monospace;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

@theme {
  --color-brand-media: #d81b50;
}
